body {
  color: #ffe4e1;
  background-color: #404040;
  margin: 15px;
  border: 15px;
}

.btn {
  margin-top: 2px;
  margin-bottom: 2px;
}

a {
  color: #c5f7f9;
}

textarea:focus, input:focus {
    color: #ff0000;
}

input, select, textarea{
    color: #000;
}
